<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="sqlite.demo" value="C:\Dev\Nistec\Git_4.0.2.0\_Demo\Db\dbDemo.sqlite"/>
  </appSettings>
<connectionStrings>
  <add name="sqlite.demo" connectionString="Data Source=C:\Dev\Nistec\Git_4.0.2.0\_Demo\Db\dbDemo.sqlite;Version=3;" providerName="SQLite"/>
</connectionStrings>

</configuration>